.inputform-container {
    width: 90%;
    max-width: 75rem;
    margin: 3rem auto;
    color: black;
}

.inputform-select-row{
  display: flex;
  gap:50px;
}

.inputform-row-2{
  display:flex;
  height: 50px;
}

.inputform-select-row div label{
  font-size:25px;
}

.inputform-select-row div{
  display: flex;
  justify-content: left;
  align-items: center;
  gap:10px;
  padding:0 0 30px 0;
}

.inputform-container select{
  padding:10px;
  font-size:larger;
  background:lightgray;
  border:none;
  border-radius: 4px;
}

.inputform-header{
    display: flex;
    padding: 2rem 1rem;
    gap: 3rem;
    margin:auto;
    max-width: 80rem;
}
  
.inputform-form {
    max-width: 50rem;
}
  
.inputform-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
  
  .inputform-form input,
  .inputform-form textarea {
    display: block;
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    background: lightgray;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-right:15px;
  }
  
  .inputform-form input:focus,
  .inputform-form select:focus,
  .inputform-form textarea:focus {
    outline-color: #f99f2a;
    background-color: lightgray;
  }
  
  .inputform-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .inputform-row p {
    width: 100%;
  }
  

  
  .inputform-actions button {
    padding:10px;
    margin-top:-15px;
    background: linear-gradient(90deg, #f9572a, #ff9b05);
    border: none;
    color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    font: inherit;
    font-size: 1.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-right:15px;
  }
  
  .inputform-actions button:hover,
  .inputform-actions button:focus {
    background: linear-gradient(90deg, #fd4715, #f9b241);
  }
  
  .inputform-actions button:disabled,
  .inputform-actions button:hover:disabled,
  .inputform-actions button:focus:disabled {
    background: #ccc;
    color: #979797;
    cursor: not-allowed;
  }


.inputform-padding-10{
  padding:10px 0;
}